@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

:root
{
    --b-radius: .5rem;    
}

body[data-theme="light"]
{
    --color-text: hsl(200, 15%, 8%);
    --color-input: hsl(0, 0%, 52%);
    --color-bg: hsl(0, 0%, 98%);   
    --color-ui: hsl(0, 0%, 100%);
    --color-placeholder: var(--color-input);
    --shadow: 0px 0px 4px 2px hsl(0, 0%, 96%);    
}
body[data-theme="dark"]
{
    --color-text: hsl(0, 0%, 100%);    
    --color-bg: hsl(207, 26%, 17%);
    --color-ui: hsl(209, 23%, 22%);
    --color-placeholder: var(--color-text);
    --shadow: 0px 0px 4px 2px hsl(207, 26%, 15%);   
}
body
{
    --search-cancel-btn-gradient:
        linear-gradient(to right top,
            transparent 0%,
            transparent 43%,
            var(--color-text) 44%,
            var(--color-text) 56%,
            transparent 57%,
            transparent 100%),
        linear-gradient(to right bottom,
            transparent 0%,
            transparent 43%,
            var(--color-text) 44%,
            var(--color-text) 56%,
            transparent 57%,
            transparent 100%);

    min-width: 375px;
    background: var(--color-bg);    
    font-family: 'Nunito Sans', sans-serif;
    color: var(--color-text);
    margin: 0;
}
.theme-mode-icon
{
    font-size: .9rem;
    margin-right: .5rem;
}
.search-icon
{    
    color: var(--color-input);    
    margin-right: 1rem;
}